* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 2.5rem;
  color: black;
  font-weight: 500;
}
.button {
  padding: 0.55rem 0.8rem 0.6rem;
  margin: 1rem;
  background-color: #6c757d;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 0.3rem;
  vertical-align: middle;
}
.button:hover {
  cursor: pointer;
  background-color: #636b72;
}
@media (max-width: 640px) {
:root {
font-size: 16px;
}
body{text-align: center;}
}
